body {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 35px;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  margin: 0 auto 40px; /* Center the heading horizontally and add margin at the bottom */
  text-align: center; /* Center the text inside the heading */
}

p {
  font-family: 'Roboto', sans-serif; /* Use Roboto as the alternative font */
  text-align: center
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button-info {
  margin-right: 10px;
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
}

.button-info:hover {
  transform: translate(-10px, -10px);
  color: #e74c3c; /* Red color */
}

.custom-button {
  background-color: #ffffff; /* White background */
  border: 1px solid #e74c3c; /* Red border */
  color: #e74c3c; /* Red color */
  padding: 10px 20px;
  margin: 35px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 10px; /* Round the edges of the buttons */
  transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  transform: translateY(-5px) rotate(3deg);
  background-color: #e74c3c; /* Red background on hover */
  color: #ffffff; /* White color on hover */
  border-color: #c0392b; /* Darker red border on hover */
}

input[type="text"] {
  margin-top: 10px;
}
