 h1 {
    font-weight: 200px;
 }
 .button-container {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
 }

 .button-info {
   margin-right: 10px;
 }

.custom-button{
   background-color: #646465; /* Dark slate gray */
   border-color: #231F20; /* Dark gray */
   color: #FFFAF1; /* Cream */
   padding: 10px 20px; /* Add padding within the button */
   margin: 35px;
   margin-bottom: 20px; /* Add margin at the bottom of the button */
   width: 200px; /* Set the width of the button */
}
 body{
    background-color: #FFFAF1;
 }

input[type="text"] {
    margin-top: 10px;
}

