{% extends 'bash_layout.html' %}

{% block content %}
<h1>Welcome to detectorMal</h1>
<p>A tool to help you expose any malware in your URL, IP address, and more.</p>
<p>Please click which tool you would like to use below:</p>

<div class="button-container">
    <a href="sandbox.html" class="button-link">
        <button class="custom-button">Sandbox</button>
    </a>
    <div class="button-info">
        <h3>Sandbox</h3>
        <p>A tool to analyze URLs for malware detection.</p>
    </div>
</div>

<div class="button-container">
    <a href="tracert.html" class="button-link">
        <button class="custom-button">Tracert</button>
    </a>
    <div class="button-info">
        <h3>Tracert</h3>
        <p>A network diagnostic tool to trace the route of network packets.</p>
    </div>
</div>

<div class="button-container">
    <a href="nslookup.html" class="button-link">
        <button class="custom-button">Nslookup</button>
    </a>
    <div class="button-info">
        <h3>Nslookup</h3>
        <p>A tool to query DNS for IP address and domain information.</p>
    </div>
</div>

<div class="button-container">
    <a href="ping.html" class="button-link">
        <button class="custom-button">Ping</button>
    </a>
    <div class="button-info">
        <h3>Ping</h3>
        <p>A network diagnostic tool to check the connectivity of a host.</p>
    </div>
</div>
{% endblock %}
