{% extends 'bash_layout.html' %}

{% block content %}
<div class="container main_content">
    <h1 style="font-size:45px; margin:10px;" >NsLookUp</h1>
    <p>Discover IP address or DNS record of a specific domain name</p>
    <form action="/nsResult" method="POST">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="urlInputLook" class="form-label" style="font-size: 18px;">Enter URL:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Example: google.com">
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Perform NsLookUp</button>
            </form>
        </div>
        <div class="output">
            <h2 style="font-size: 24px; margin-top: 20px;">Output</h2>
            <p>Result</p>
            {% if name %}
            <pre>{{ name }}</pre>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
