{% extends 'bash_layout.html' %}

{% block content %}
<div class="container ping-page">
    <h1 style="font-size:45px; margin: 10px;">Ping</h1>
    <p>Troubleshoot connectivity/reachability of a host IP by sending packets</p>
    <form action="/pingResult" method="POST">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="dnsInput" class="form-label">Enter DNS or IP Address:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Example: google.com">
                </div>
                <button type="submit" class="btn btn-primary">Ping Now</button>
            </form>
        </div>
        <div class="output">
            <h2>Output</h2>
            <p>Ping results:</p>
            {% if name %}
            <pre>{{ name }}</pre>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
