<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Welcome to The Sandbox! </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bash_layout.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">DeTeCtorMAL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tracert') }}">Tracert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('nslookup') }}">Nslookup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sandbox') }}">Sandbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ping') }}">Ping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="/urlResult" method="POST">
        <h1>Welcome to The Sandbox</h1>
        <p>Here you will be able to input a URL and find any malware in it</p>
        <input type="text" placeholder="Enter your URL here" name="name" id="name">
        <button class="btn btn-primary">Submit here</button>
        <div class="output">
            {% if name %}
            {{name}}
            {% endif %}
        </div>
    </form>
</body>
</html>