<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome to The Sandbox</title>
    <style>
        html {
            margin-top: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #3a220b;
            margin-top: 20px;
            color: #000000;
        }

        h1 {
            font-weight: bolder;
            font-family: "Blackadder ITC";
        }

        input[type="text"] {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>Welcome to The Sandbox</h1>
<p>Here you will be able to input a URL and find any malware in it</p>
<input type="text" placeholder="Enter your URL here">
<button>Submit here</button>
</body>
</html>
